/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*自定義css*/
body{
    font-family:Microsoft JhengHei;
}
.topbar{
    background-color: #f6f6f6;
    padding:5px 20px;
    text-align:right;
    vertical-align:middle;
    color:#cccccc;
}
.topbar .fb{
    color:#4460a0;
    text-decoration:none;
}
.topbar .twitter{
    color:#00aaec;
    text-decoration:none;
}
.topbar .fb:hover,.topbar .twitter:hover{
	color:#000;
}
.header{
	display:flex;
	justify-content:space-between;
	background: #fff;
}
.header h1 a{
    background-image:url("../img/logo.png");
    width:224px;
    height:50px;
    display:block;
    text-indent:101%;
    overflow:hidden;
	white-space:nowrap;
}
.menu{
	display:flex;
}
.menu li{
	text-align: center;
}
.menu li a{
	display:block;
	text-decoration: none;
	color:#42d3a9;
	padding:15px;
	position:relative;
}
.menu li a::before{
	content:"";
	position: absolute;
	display: block;
	bottom: 0px;
	border-bottom: 3px solid #00cc99;
	transition: all .3s ease;
	margin-left:-15px;
}
.menu li a:hover::before{
	width:100%;
}
.banner{
	position:relative;
}
.banner img{
	width:100%;
}
.banner-bg{
	position:absolute;
	width:96%;
	height:25%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.3);
	padding:4% 2%;
	display:flex;
	align-items: center;
}
.banner-bg h1{
	font-size:36px;
	line-height: 1.5;
	color:white;
}
.course{
	display:flex;
	justify-content:space-around;
	margin:0 10px;
}
.course-item{
	border-color:#f1f1f1;
	border-style:solid;
	border-width: 0 1px 1px 1px;
	border-radius:5px;
	box-shadow:0px 2px 2px #d6d6d6;
	width:28%;
	margin:55px 15px;
	padding:25px 20px;
}
.course-img{
	display:flex;
	justify-content:center;
	align-items:center;
	height:150px;
}
.course-item h2{
	text-align: center;
	font-size: 25px;
	line-height:1.5;
	font-weight: bold;
}
.course-item p,ul{
	line-height:25px;
	text-align:justify;
}
.course-item ul{
	list-style-type:square;
	padding-left:1.2em;
}
.course-item ul li{
	text-indent: -1.5px;
}
.course-item ul li::marker{
	font-size:x-small;
}
.compare{
	margin:auto auto 60px auto;
	width:85%;
}
.compare caption{
	font-size:24px;
	font-weight:bold;
	margin:30px 0;
}
.compare tr{
	font-size:16px;
	text-align: left;
	line-height: 2.5;
	border-top:1px #dddddd solid;
	border-bottom:1px #dddddd solid;
}
.compare th{
	font-weight: bold;
	background: #f7f7f7;
}
.compare th,.compare td{
	padding:0 20px;
}
.textgreen{
	color:#00a67d;
}
.interest{
	background:linear-gradient(#00654b,#009871);
	color:#fff;
	padding-top:40px;
	font-size: 24px;
	line-height:1.5;
	font-weight:bold;
	text-align: center;
}
.interest-all{
	padding:30px 0;
	display: flex;
	justify-content:space-around;
	align-items:stretch;
	font-size:16px;
}
.interest-question textarea{
	border-radius:5px;
	width:460px;
	height:245px;
	resize: none;
}
.interest-infor label{
	text-align: left;
}
.interest-infor .textbox{
	border-radius:3px;
	padding:8px 10px;
	border:0px solid;
	margin-top:-15px;
}
.interest-infor{
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	width:460px;
}
.submit-button{
	width: 70px;
	padding: 10px 20px;
	background: #00cc99;
	color:#fff;
	border:0px solid;
	border-radius:5px;
	align-self:flex-end;
}
.submit-button:hover{
	color:#000;
	background: #35f9c8;
	cursor:pointer;
}
.footer{
	display:flex;
	justify-content:space-between;
	padding:25px 15px;
	line-height:1.5;
	font-size: 15px;
}
.textpink{
	color:#e12d80;
}